<!doctype html>

<html lang="en">

<head>
  <base href="http://localhost:3000" />
	<link rel="apple-touch-icon" sizes="72x72" href="public/images/logo.png">
	<link rel="apple-touch-icon" sizes="114x114" href="public/images/logo.png">
	<link rel="apple-touch-icon" sizes="144x144" href="public/images/logo.png">
	<link rel="shortcut icon" type="image/png" href="public/images/logo.png">

	<title>Trello</title>
	<meta name="author" content="Filip Hric">
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="public/css/trello.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>

  <!-- <script src="node_modules/sockets.io-client/dist/socket.io.js"></script> -->

</head>

<template id="trello-board">
	<div class="background background-blue">
    <div class="loading" v-show="loading">
      <svg width="16" height="16" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff" style="margin-bottom: -2px;">
        <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)" stroke-width="2">
                <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                <path d="M36 18c0-9.94-8.06-18-18-18">
                    <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="1s"
                        repeatCount="indefinite"/>
                </path>
            </g>
        </g>
    </svg>&nbsp;&nbsp;Loading data ...</div>
		<div class="background_spacer"></div>
		<div class="boardDetail">
			<div
				class="Overlay"
				v-on:click.self="showTaskModule = false; taskDropdown = false; closeTask()"
				v-show="showTaskModule"
			>
				<div class="TaskModule" data-cy="task-module">
					<div class="TaskModule_exit">
            <div data-cy="task-module-close" class="dropdown" @click="taskDropdown = !taskDropdown">
              <svg class="options" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,7a2,2,0,1,0-2-2A2,2,0,0,0,12,7Zm0,10a2,2,0,1,0,2,2A2,2,0,0,0,12,17Zm0-7a2,2,0,1,0,2,2A2,2,0,0,0,12,10Z"/></svg>
              <div id="myDropdown" data-cy="task-dropdown" class="dropdown-content" :class="{ show: taskDropdown }">
                <span v-on:click="showTaskModule = false; closeTask()">Close task</span>
                <span data-cy="copy-task-properties" @click.self="copyProperties(currentTask)">Copy properties</span>
                <span class="delete" @click="deleteTask(currentTask)">Delete task</span>
              </div>
            </div>
            <div
            class="invisible-overlay"
            @click.self="taskDropdown = false"
            v-show="taskDropdown"
            v-cloak
            >
            </div>
					</div>
					<input
            class="Input TaskModule_title"
            data-cy="task-module-name"
            v-model.lazy="currentTask.title"
            @change="updateTaskName(currentTask)"
            v-on:keyup.enter="$event.target.blur()"
						type="text"
					></input>
					<h5 class="TaskModule_list">in list <strong>{{ currentList.title }}</strong></h5>
					<h6 class="TaskModule_descriptionTitle">Description</h6>
					<p
            class="TaskModule_description"
						v-if="currentTask.description"
						v-show="!editTaskDescription"
						v-on:click="editTaskDescription = !editTaskDescription"
					>
						{{ currentTask.description }}
					</p>
					<p
            class="TaskModule_description"
            data-cy="task-description"
						v-else
						v-on:click="editTaskDescription = !editTaskDescription"
						v-show="!editTaskDescription"
					>
						Add a description...
					</p>
					<textarea
            class="TextArea"
            data-cy="task-description-input"
						v-model="currentTask.description"
						v-show="editTaskDescription"
						type="text"
						v-focus="editTaskDescription"
						v-on:keydown.enter.prevent="saveNewTaskDescription"
					></textarea>
					<div
						class="TaskModule_options"
						v-show="editTaskDescription"
					>
						<button
              class="Button"
              data-cy="task-description-save"
							v-on:click="saveNewTaskDescription(currentTask)"
						>
							Save
						</button>
						<svg
							class="Cancel"
							v-on:click="editTaskDescription = !editTaskDescription"
						>
							<line x1="0" y1="0" x2="15" y2="15"/>
							<line x1="0" y1="15" x2="15" y2="0"/>
						</svg>
          </div>
          <h6 class="TaskModule_descriptionTitle">Due date</h6>
          <input type="date" data-cy="task-deadline" :class="overdue(currentTask)" placeholder="yyyy-mm-dd" min="1997-01-01" max="2030-12-31" v-model="currentTask.deadline" @change="saveNewTaskDeadline(currentTask)">
          <div v-show="currentTask.image">
            <h6 class="TaskModule_descriptionTitle">Image</h6>
            <div class="imagePreview">
                <svg
                  class="Cancel"
                  data-cy="remove-image"
                  v-on:click="removeImage()"
                >
                <line x1="0" y1="0" x2="15" y2="15"/>
                <line x1="0" y1="15" x2="15" y2="0"/>
              <img :src="currentTask.image">
            </div>
          </div>
          <div v-show="!currentTask.image">
            <h6 class="TaskModule_descriptionTitle" v-show="!currentTask.image">Upload image</h6>
            <vue-dropzone
            ref="myVueDropzone"
            v-show="!currentTask.image"
            :id="'dropzone' + currentTask.id"
            :options="dropzoneOptions"
            :destroy-dropzone=true
            :use-custom-slot=true
            @vdropzone-sending="addImageId"
            @vdropzone-success="fileUploaded"
            >
              <div class="dropzone-custom-content">
                <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,13a1,1,0,0,0-1,1v.38L16.52,12.9a2.79,2.79,0,0,0-3.93,0l-.7.7L9.41,11.12a2.85,2.85,0,0,0-3.93,0L4,12.6V7A1,1,0,0,1,5,6h7a1,1,0,0,0,0-2H5A3,3,0,0,0,2,7V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V14A1,1,0,0,0,19,13ZM5,20a1,1,0,0,1-1-1V15.43l2.9-2.9a.79.79,0,0,1,1.09,0l3.17,3.17,0,0L15.46,20Zm13-1a.89.89,0,0,1-.18.53L13.31,15l.7-.7a.77.77,0,0,1,1.1,0L18,17.21ZM22.71,4.29l-3-3a1,1,0,0,0-.33-.21,1,1,0,0,0-.76,0,1,1,0,0,0-.33.21l-3,3a1,1,0,0,0,1.42,1.42L18,4.41V10a1,1,0,0,0,2,0V4.41l1.29,1.3a1,1,0,0,0,1.42,0A1,1,0,0,0,22.71,4.29Z"/></svg>
                <p>Drop file here or click to upload</p>
              </div>
            </vue-dropzone>
          </div>
				</div>
			</div>

			<div class="boardDetail_info">
        <input class="boardDetail_title" data-cy="board-title" v-model.lazy="currentBoard.name" @change="updateBoardName()" v-on:keyup.enter="$event.target.blur()"></input>
        <div class="dropdown" data-cy="board-options" @click="boardDropdown = !boardDropdown">
          <svg class="options" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,7a2,2,0,1,0-2-2A2,2,0,0,0,12,7Zm0,10a2,2,0,1,0,2,2A2,2,0,0,0,12,17Zm0-7a2,2,0,1,0,2,2A2,2,0,0,0,12,10Z"/></svg>
          <div id="myDropdown" class="dropdown-content" v-show="boardDropdown">
            <span class="delete" @click.self="deleteBoard(currentBoard)">Delete board</span>
            <span data-cy="copy-board-properties" @click.self="copyProperties(currentBoard)">Copy properties</span>
          </div>
        </div>
        <div
        class="invisible-overlay"
        @click.self="boardDropdown = false"
        v-show="boardDropdown"
        v-cloak
        >
        </div>
			</div>
			<draggable class="ListContainer" :list="currentBoard.lists" animation="150" group="lists" @end="sortList">
        <div class="List" data-cy="list" v-for="(list, index) in currentBoard.lists" :data-id="list.id" :key="list.id">
          <input class="Input taskTitle" data-cy="list-name" v-model.lazy="list.title" @change="updateListName(list)" v-on:keyup.enter="$event.target.blur()"></input>
          <div class="dropdown" @click="listDropdown = index">
            <svg class="options" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,7a2,2,0,1,0-2-2A2,2,0,0,0,12,7Zm0,10a2,2,0,1,0,2,2A2,2,0,0,0,12,17Zm0-7a2,2,0,1,0,2,2A2,2,0,0,0,12,10Z"/></svg>
            <div id="myDropdown" class="dropdown-content" v-show="listDropdown === index">
              <span class="delete" @click.self="deleteList(list); listDropdown = false">Delete list</span>
              <span data-cy="copy-list-properties" @click.self="copyProperties(list)">Copy properties</span>
            </div>
          </div>
          <div
          class="invisible-overlay"
          @click.self="listDropdown = false"
          v-show="listDropdown === index"
          v-cloak
          >
          </div>
					<draggable class="List_tasks" data-cy="tasks-list" :list="currentLists[list.id]" animation="150" group="{ name: 'tasksList' + index}" @end="sortTask($event, list)" >
            <div class="Task" data-cy="task" v-for="task in currentLists[list.id]" :key="task.id"
              v-on:click.self="editTask(list, task)" :class="overdue(task)">
              <div class="container">
                <input type="checkbox" data-cy="task-done" class="checkmark" v-model="task.completed" v-on:change="completeTask(task)">
                <label class="Task_title" data-cy="task-title" :class="{ completed: task.completed }">{{task.title}}</label>
              </div>
            </div>
					</draggable>
					<h5
            class="List_addTask"
            data-cy="new-task"
						v-show="newTaskInputActive !== list.id"
						v-on:click.stop.prevent="newTaskInputActive = list.id"
					>
						Add new task
					</h5>
					<textarea class="TextArea" data-cy="task-input" v-model="newTaskTitle" type="text" v-on:keydown.enter.prevent="addTask(list)" data-id="newTaskTitle" v-show="newTaskInputActive === list.id" v-focus="newTaskInputActive === list.id"></textarea>
					<div v-show="newTaskInputActive === list.id" data-cy="task-options" class="List_newTaskOptions">
						<button class="Button" data-cy="add-task" v-on:click="addTask(list)">Add</button>
						<svg class="Cancel" data-cy="cancel" v-on:click="newTaskInputActive = null">
							<line x1="0" y1="0" x2="15" y2="15"/>
							<line x1="0" y1="15" x2="15" y2="0"/>
						</svg>
					</div>
        </div>

				<div class="CreateList" v-bind:class="{ 'CreateList-active': newListInputActive }">
					<h3 class="CreateList_title" data-cy="add-list" v-show="!newListInputActive" v-on:click="newListInputActive = !newListInputActive">Add a list...</h3>
					<input class="CreateList_input" data-cy="add-list-input" v-model="newListTitle" type="text" placeholder="Add a list..." v-on:keyup.enter="addList" v-focus="newListInputActive" v-show="newListInputActive"></input>
					<div class="CreateList_options" data-cy="add-list-options" v-show="newListInputActive">
						<button class="Button" data-cy="save" v-on:click="addList">Save</button>
						<svg data-cy="cancel" class="Cancel" v-on:click="cancelNewList">
							<line x1="0" y1="0" x2="15" y2="15"/>
							<line x1="0" y1="15" x2="15" y2="0"/>
						</svg>
					</div>
				</div>
			</draggable>
		</div>
	</div>

</template>

<template id="trello-board-collection">
  <div class="background background-white">
    <div class="loading" v-show="loading">
      <svg width="16" height="16" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#000" style="margin-bottom: -2px;">
        <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)" stroke-width="2">
                <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                <path d="M36 18c0-9.94-8.06-18-18-18">
                    <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="1s"
                        repeatCount="indefinite"/>
                </path>
            </g>
        </g>
    </svg>&nbsp;&nbsp;Loading data ...</div>
    <div class="background_spacer"></div>
		<hr class="pad20">

		<div class="background_container" v-cloak>
			<h1 class="background_title" v-show="starred(boards).length" >My Starred</h1>
			<div class="board">
				<router-link tag="div" class="board_item" v-for="board in starred(boards)" v-on:mouseover.native="showByIndex = board" v-on:mouseout.native="showByIndex = null" :key="board.id" :to="{ path: '/board/' + board.id }">
          <h1 class="board_title">{{ board.name }}</h1>
					<svg version="1.1" class="Star" data-cy="star"  x="0px" y="0px"
             viewBox="0 0 297 297" v-on:click.stop="updateBoardStarred(board)" v-show="showByIndex === board">
						<path d="M296.519,114.329c-1.142-3.512-4.15-6.088-7.795-6.674l-89.94-14.441l-41.528-81.074c-1.684-3.287-5.064-5.352-8.755-5.352
							c-3.691,0-7.071,2.064-8.755,5.352L98.217,93.214l-89.94,14.441c-3.645,0.586-6.653,3.162-7.795,6.674
							c-1.141,3.51-0.22,7.363,2.385,9.979l64.272,64.55l-14.056,90.001c-0.569,3.648,0.95,7.306,3.937,9.476
							c2.986,2.17,6.937,2.485,10.229,0.816l81.252-41.18l81.252,41.18c1.405,0.713,2.929,1.063,4.446,1.063
							c2.04,0,4.069-0.635,5.782-1.879c2.986-2.17,4.506-5.827,3.937-9.476l-14.056-89.999l64.273-64.552
							C296.739,121.692,297.659,117.839,296.519,114.329z M212.404,178.509c-2.211,2.221-3.232,5.362-2.748,8.459l11.862,75.954
							l-68.571-34.753c-2.795-1.416-6.098-1.416-8.893,0l-68.571,34.753l11.862-75.956c0.484-3.097-0.537-6.238-2.748-8.459l-54.24-54.474
							l75.902-12.188c3.095-0.497,5.767-2.438,7.195-5.228L148.5,38.198l35.046,68.421c1.429,2.79,4.101,4.731,7.195,5.228l75.902,12.188
							L212.404,178.509z"/>
					</svg>
				</router-link>
			</div>
			<h1 class="background_title">My Boards</h1>
			<div class="board">
				<router-link tag="div" class="board_item" data-cy="board-item" :data-id="'board_' + board.id" v-for="board in boards" :key="board.id" :to="{ path: '/board/' + board.id }"  v-on:mouseover.native="showByIndex = board" v-on:mouseout.native="showByIndex = null">
					<h1 class="board_title">{{ board.name }}</h1>
					<svg version="1.1" class="Star" data-cy="star"  x="0px" y="0px"
						 viewBox="0 0 297 297" v-on:click.stop="updateBoardStarred(board)" v-show="showByIndex === board">
						<path d="M296.519,114.329c-1.142-3.512-4.15-6.088-7.795-6.674l-89.94-14.441l-41.528-81.074c-1.684-3.287-5.064-5.352-8.755-5.352
							c-3.691,0-7.071,2.064-8.755,5.352L98.217,93.214l-89.94,14.441c-3.645,0.586-6.653,3.162-7.795,6.674
							c-1.141,3.51-0.22,7.363,2.385,9.979l64.272,64.55l-14.056,90.001c-0.569,3.648,0.95,7.306,3.937,9.476
							c2.986,2.17,6.937,2.485,10.229,0.816l81.252-41.18l81.252,41.18c1.405,0.713,2.929,1.063,4.446,1.063
							c2.04,0,4.069-0.635,5.782-1.879c2.986-2.17,4.506-5.827,3.937-9.476l-14.056-89.999l64.273-64.552
							C296.739,121.692,297.659,117.839,296.519,114.329z M212.404,178.509c-2.211,2.221-3.232,5.362-2.748,8.459l11.862,75.954
							l-68.571-34.753c-2.795-1.416-6.098-1.416-8.893,0l-68.571,34.753l11.862-75.956c0.484-3.097-0.537-6.238-2.748-8.459l-54.24-54.474
							l75.902-12.188c3.095-0.497,5.767-2.438,7.195-5.228L148.5,38.198l35.046,68.421c1.429,2.79,4.101,4.731,7.195,5.228l75.902,12.188
							L212.404,178.509z"/>
					</svg>
				</router-link>
				<div class="board_newItem" id="new-board" data-cy="create-board" v-bind:class="{ 'board_newItem-active': newBoardInputActive }" v-on:click="toggleNewBoardInput(true)" >
					<h1 class="board_title" v-show="!newBoardInputActive">Create a board...</h1>
					<input class="board_addBoard" data-cy="new-board-input" v-model="newBoardTitle" v-on:keyup.enter.prevent="createNewBoard()" placeholder="Create a board..." v-show="newBoardInputActive" v-focus="newBoardInputActive" ></input>
					<div class="board_options" v-show="newBoardInputActive">
						<button class="Button" data-cy="new-board-create" v-on:click.stop="createNewBoard()">Save</button>
						<svg class="Cancel" data-cy="new-board-cancel" v-on:click.stop="toggleNewBoardInput(false)">
							<line x1="0" y1="0" x2="15" y2="15"/>
							<line x1="0" y1="15" x2="15" y2="0"/>
						</svg>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>

<template id="navbar">
  <nav class="Nav" v-cloak>
    <router-link tag="div" class="Nav_boards Nav_button" to="/" v-show="$route.path !== '/'" v-cloak>
      My Boards
    </router-link>
    <img class="Nav_logo" src="./public/images/trello-logo.png">
      <div class="Nav_user Nav_button" data-cy="login-menu" v-show="!this.$root.loggedIn.active" @click="openLogin()" v-cloak>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" data-name="Layer 1" viewBox="0 0 24 24"><path d="M12,2A10,10,0,0,0,4.65,18.76h0a10,10,0,0,0,14.7,0h0A10,10,0,0,0,12,2Zm0,18a8,8,0,0,1-5.55-2.25,6,6,0,0,1,11.1,0A8,8,0,0,1,12,20ZM10,10a2,2,0,1,1,2,2A2,2,0,0,1,10,10Zm8.91,6A8,8,0,0,0,15,12.62a4,4,0,1,0-6,0A8,8,0,0,0,5.09,16,7.92,7.92,0,0,1,4,12a8,8,0,0,1,16,0A7.92,7.92,0,0,1,18.91,16Z"/></svg>
        Log in
      </div>
      <div class="Nav_user Nav_button" data-cy="logged-user" v-show="this.$root.loggedIn.active" @click="loginDropdown = !loginDropdown" v-cloak>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8" fill="#5aac44"/></svg>
        {{ this.$root.loggedIn.email }}
        <div id="myDropdown" class="dropdown-content" :class="{ show: loginDropdown }">
          <span @click="logout()">Log out</span>
        </div>
      </div>
      <div
      class="invisible-overlay"
      @click.self="loginDropdown = !loginDropdown"
      v-show="loginDropdown"
      v-cloak
      >
      </div>
  </nav>
</template>

<template id="login">
  <div
      class="Overlay"
      v-on:click.self="closeLogin()"
      v-show="this.$root.showLoginModule"
      v-cloak
    >
      <div class="LoginModule" data-cy="login-module">
        <div class="LoginModule_exit">
          <svg
            class="Cancel"
            data-cy="close-login"
            v-on:click="closeLogin()"
          >
            <line x1="0" y1="0" x2="15" y2="15"/>
            <line x1="0" y1="15" x2="15" y2="0"/>
          </svg>
        </div>
        <div v-show="loginCardActive">
          <h2 class="LoginModule_title">Log in to your account</h2>
            <div class="credentials">
              <p class="LoginModule_description">Enter your email and password to log in</p>
              <input type="email" placeholder="Email address" data-cy="login-email" id="loginEmail" v-model="loginEmail" autocomplete="off">
              <input type="password" placeholder="Password" data-cy="login-password" id="loginPassword" v-model="loginPassword" v-on:keyup.enter="login">
              <div class="LoginModule_buttons">
                <button class="Button" data-cy="login" @click="login">
                  Log in</button>
              </div>
            </div>
            <p class="LoginModule_logSignSwitch">Don’t have an account? <a @click="logSignSwitch">Sign up here</a></p>
        </div>
        <div v-show="signupCardActive">
          <h2 class="LoginModule_title">Sign up to create a free account</h2>
            <div class="credentials">
              <p class="LoginModule_description">Enter your email and password to sign up</p>
              <input type="email" placeholder="Email address" id="signupEmail" v-model="signupEmail" data-cy="signup-email" autocomplete="off">
              <input type="password" placeholder="Password" id="signupPassword" v-model="signupPassword" data-cy="signup-password" v-on:keyup.enter="signup">
              <div class="welcomeEmail">
                <label class="emails_title">
                  <input type="checkbox" class="checkmark" data-cy="welcome-email-checkbox" v-model="sendEmails">
                  Send me a welcome email
                </label>
              </div>
              <div class="LoginModule_buttons">
                <button class="Button" data-cy="signup" @click="signup">
                  Sign up</button>
              </div>
            </div>
            <p class="LoginModule_logSignSwitch">Already have an account? <a @click="logSignSwitch">Go to log in</a></p>
        </div>
      </div>
  </div>
</template>

<body>
	<div id="trello-app" v-shortkey="['f2']" @shortkey="toggleTools()">
    <Navbar></Navbar>
    <Login></Login>
    <div id="errorMessage" v-show="errorMessage.show" v-cloak>{{ errorMessage.text }}</div>
    <div id="loginMessage" v-show="loggedIn.active" v-cloak>User is logged in</div>
    <div id="tools" v-show="tools" v-cloak>Reset application:
      <button @click="resetAll()">All</button>
      <button @click="resetBoards()">Boards</button>
      <button @click="resetLists()">Lists</button>
      <button @click="resetTasks()">Tasks</button>
      <button @click="resetUsers()">Users</button>
    </div>
		<router-view :key="$route.fullPath"></router-view>
	</div>

	<script type="text/javascript" src="public/js/trello.js"></script>

</body>

</html>