@import '../../assets/css/normalize.css';
.transition, .Star:hover path, .Star, .board .board_item:hover .Star, .TaskModule .dz-drag-hover .dz-message p, .TaskModule .dz-drag-hover .dz-message, .TaskModule .dz-drag-hover svg, .CreateList-active, .CreateList {
  transition: all 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -webkit-transition: all 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -moz-transition: all 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: all 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

.baseShadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.Cancel {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: 13px;
  vertical-align: center;
  stroke-linecap: round;
  stroke: #B6BBBF;
  stroke-width: 3;
}
.Cancel:hover {
  stroke: #959DA1;
}

.Input {
  width: 88%;
  padding: 5px;
  min-height: 18px;
  display: block;
  margin: 0 auto 7px auto;
  background-color: #E2E4E6;
  border-radius: 3px;
  color: #4d4d4d;
  outline: none;
  border: none;
}
.Input:focus {
  background-color: #FFFFFF;
}

.Button {
  background: linear-gradient(top, #61bd4f, #5aac44);
  background: -webkit-linear-gradient(top, #61bd4f, #5aac44);
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
  box-shadow: 0 1px 0 #3f6f21;
}
.Button:hover {
  background: linear-gradient(top, #5aac44, #519839);
  background: -webkit-linear-gradient(top, #5aac44, #519839);
}

.TextArea {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  color: #4d4d4d;
  border-radius: 3px;
  border: none;
  outline: none;
  opacity: 1;
  width: 80%;
  padding: 10px 4%;
  min-height: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4d4d4d;
}

hr.pad20 {
  width: 100%;
  padding: 10px 0;
  margin: 0;
  outline: 0;
  border: 0;
}

nav.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 55px;
  background-color: #026AA7;
  display: block;
}
nav.Nav .Nav_boards {
  position: absolute;
  left: 10px;
  top: 9px;
}
nav.Nav .Nav_logo {
  position: absolute;
  top: 13.75px;
  left: 50%;
  margin: 0 0 0 -42px;
  display: block;
  overflow: hidden;
  height: 27.5px;
}
nav.Nav .Nav_user {
  position: absolute;
  right: 10px;
  top: 9px;
}
nav.Nav .Nav_button {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #298FCA;
  padding: 10px 12px;
  border-radius: 3px;
  cursor: pointer;
}
nav.Nav .Nav_button svg {
  width: 20px;
  height: 20px;
  fill: #FFF;
  vertical-align: bottom;
  margin-bottom: -2px;
}
nav.Nav .Nav_button .Nav_button {
  position: relative;
  display: block;
  float: right;
}
nav.Nav .Nav_button:hover {
  background-color: #5BA4CF;
}
nav.Nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #298FCA;
  min-width: 110px;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  margin-left: 17px;
  margin-top: 10px;
}
nav.Nav .dropdown-content span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
nav.Nav .dropdown-content span:hover {
  background-color: #5BA4CF;
}
nav.Nav .show {
  display: block;
}
nav.Nav .invisible-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
}

.background {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.background .background_spacer {
  width: 100vw;
  height: 55px;
}
.background .background_container {
  margin: 10px auto;
  width: 90%;
  max-width: 1300px;
}
.background .background_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #4d4d4d;
  margin: 10px 0;
}

.background-white {
  background-color: #FFFFFF;
}

.background-blue {
  background-color: #0079BF;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.background-white .loading {
  color: #000;
}

.background-blue .loading {
  color: #fff;
}

#errorMessage {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #f85252;
  top: -56px;
  height: 30px;
  padding: 16px 0 9px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  left: 0;
  line-height: 1.4em;
  font-size: 18px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 101;
  animation-name: slideDown;
  animation-duration: 4s;
}

@-webkit-keyframes slideDown {
  10%, 90% {
    -webkit-transform: translateY(56px);
  }
  0%, 100% {
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes slideDown {
  10%, 90% {
    -moz-transform: translateY(56px);
  }
  0%, 100% {
    -moz-transform: translateY(0px);
  }
}
@-webkit-keyframes slideUp {
  0%, 100% {
    -webkit-transform: translateY(56px);
  }
  10%, 90% {
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes slideUp {
  0%, 100% {
    -moz-transform: translateY(56px);
  }
  10%, 90% {
    -moz-transform: translateY(0px);
  }
}
.Task {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #FFFFFF;
  color: #4d4d4d;
  border-radius: 3px;
  border: none;
  outline: none;
  opacity: 1;
  width: 80%;
  padding: 3% 4%;
  min-height: 17px;
  margin: 0 auto 7px auto;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4d4d4d;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.Task:hover {
  background-color: #F8F9F9;
}
.Task .Task_title {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4d4d4d;
  white-space: normal;
}
.Task .Task_title.completed {
  text-decoration: line-through;
}
.Task .container {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Task .container input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  top: 0;
  left: 0;
  background-color: #eee;
}
.Task .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
}
.Task .container:hover input.checkmark {
  background-color: #ccc;
}
.Task .container input:checked.checkmark {
  background-color: #0079BF;
}
.Task .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.Task .container input:checked.checkmark:after {
  display: block;
}
.Task .container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.Task :focus {
  outline: 0;
}

.overDue {
  background-color: #E7748D;
}
.overDue .Task_title {
  color: #fff;
}
.overDue:hover {
  background-color: #E15170;
}

.ListContainer {
  display: block;
  width: 100vw;
  height: 80vh;
  overflow: scroll;
  white-space: nowrap;
}
.ListContainer > .current-target {
  background-color: #055A8C !important;
}
.ListContainer .current-target > * {
  visibility: hidden;
}

.List {
  padding-top: 10px;
  width: 275px;
  background-color: #E2E4E6;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  display: inline-block;
  margin: 0.5% 1.5%;
  vertical-align: top;
}
.List .taskTitle {
  width: 212px;
  min-height: 18px;
  display: inline-block;
  margin: 0 auto 7px 17px;
  background-color: #E2E4E6;
  border-radius: 3px;
  color: #4d4d4d;
  outline: none;
  border: none;
}
.List .taskTitle:focus {
  background-color: #FFFFFF;
}
.List .options {
  fill: #959DA1;
  width: 21px;
  height: 21px;
  margin: 5px 8px 0 0;
  cursor: pointer;
}
.List .dropdown {
  position: relative;
  display: block;
  float: right;
}
.List .invisible-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
}
.List .dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  margin-left: -75px;
}
.List .dropdown-content span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4d4d4d;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.List .dropdown-content span:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.List .dropdown-content span.delete {
  color: #FF220C;
}
.List .show {
  display: block;
}
.List .List_tasks {
  max-height: 70vh;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  min-height: 2px;
}
.List .List_addTask {
  width: 88%;
  padding: 7px 6%;
  margin: 0;
  height: auto;
  text-align: left;
  cursor: pointer;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #959DA1;
}
.List .List_addTask:hover {
  text-decoration: underline;
  color: #4d4d4d;
  background-color: #CDD2D4;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.List .List_newTaskOptions {
  width: 88%;
  padding: 10px 6%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.List .current-target {
  background-color: #C4C9CC !important;
}
.List .current-target > * {
  visibility: hidden;
}

.sortable-chosen {
  opacity: 0.9;
}

.sortable-ghost {
  opacity: 0.4;
}

.CreateList {
  padding: 7px 0;
  width: 275px;
  background-color: #026AA7;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  display: inline-block;
  margin: 0.5% 1.5%;
  vertical-align: top;
  cursor: pointer;
}
.CreateList:hover {
  background-color: #055A8C;
}
.CreateList .CreateList_title {
  width: 88%;
  padding: 5px;
  min-height: 18px;
  display: block;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}
.CreateList .CreateList_options {
  width: 88%;
  padding: 10px 4%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.CreateList .CreateList_input {
  width: 88%;
  padding: 5px;
  min-height: 18px;
  margin: 0 2px 7px 9px;
  background-color: #E2E4E6;
  border-radius: 3px;
  color: #4d4d4d;
  outline: none;
  border: 1px solid #CDD2D4;
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.15);
}
.CreateList .CreateList_input:focus {
  background-color: #E2E4E6;
}
.CreateList .CreateList_input::-webkit-input-placeholder {
  color: #CDD2D4;
}

.CreateList-active {
  background-color: #E2E4E6 !important;
  padding: 10px 0 0 0 !important;
}

.Overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.TaskModule {
  background-color: #E2E4E6;
  border-radius: 3px;
  min-height: 375px;
  width: 330px;
  z-index: 2000;
  margin: 4% 0;
  padding: 0;
  overflow: hidden;
  /* Removes the clear button from date inputs */
  /* Removes the spin button */
  /* Always display the drop down caret */
  /* A few custom styles for date inputs */
}
.TaskModule .TaskModule_exit {
  width: 100%;
  display: block;
  position: relative;
  height: 35px;
}
.TaskModule .TaskModule_exit .Cancel {
  position: absolute;
  right: 38.7px;
  top: 10px;
  margin: 0;
}
.TaskModule .TaskModule_exit .options {
  fill: #959DA1;
  width: 21px;
  height: 21px;
  margin: 8px;
  cursor: pointer;
}
.TaskModule .TaskModule_exit .dropdown {
  position: relative;
  display: block;
  float: right;
}
.TaskModule .TaskModule_exit .invisible-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
}
.TaskModule .TaskModule_exit .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1002;
  margin-left: -75px;
}
.TaskModule .TaskModule_exit .dropdown-content span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4d4d4d;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.TaskModule .TaskModule_exit .dropdown-content span:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.TaskModule .TaskModule_exit .dropdown-content span.delete {
  color: #FF220C;
}
.TaskModule .TaskModule_exit .show {
  display: block;
}
.TaskModule .TaskModule_title {
  color: #4d4d4d;
  margin: 0 auto 1px auto;
}
.TaskModule .TaskModule_list {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #959DA1;
  width: 88%;
  margin: 0 auto;
}
.TaskModule .TaskModule_list strong {
  text-decoration: underline;
}
.TaskModule .TaskModule_description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #959DA1;
  width: 88%;
  margin: 0 auto;
  cursor: pointer;
}
.TaskModule .TaskModule_descriptionTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4d4d4d;
  margin: 15px auto 5px auto;
  width: 88%;
}
.TaskModule .TaskModule_options {
  width: 88%;
  padding: 10px 4%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}
.TaskModule .dz-message {
  position: relative;
  width: 265px;
  height: 100px;
  border: 4px dashed #cdd2d4;
  margin: 0 auto;
}
.TaskModule .dz-message svg {
  display: block;
  margin: auto;
  padding-top: 8px;
  fill: #B6BBBF;
}
.TaskModule .dz-message p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #959DA1;
  text-align: center;
}
.TaskModule .vue-dropzone {
  padding-bottom: 30px;
  padding-top: 8px;
  cursor: pointer;
}
.TaskModule .dz-drag-hover svg {
  fill: #838C91;
}
.TaskModule .dz-drag-hover .dz-message {
  border-color: #838C91;
}
.TaskModule .dz-drag-hover .dz-message p {
  color: #838C91;
}
.TaskModule .imagePreview {
  width: 100%;
  display: block;
  position: relative;
}
.TaskModule .imagePreview img {
  max-height: 400px;
  max-width: 300px;
  margin: 0 auto;
  display: block;
  padding-bottom: 14px;
  padding-top: 8px;
}
.TaskModule .imagePreview .Cancel {
  position: absolute;
  right: 20.7px;
  top: 15px;
  margin: 0;
}
.TaskModule .dz-preview {
  display: none;
}
.TaskModule input[type=date]::-webkit-clear-button {
  display: none;
}
.TaskModule input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.TaskModule input[type=date]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}
.TaskModule input[type=date] {
  appearance: none;
  -webkit-appearance: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #959DA1;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 0px 0 0px 19px;
  display: inline-block !important;
  visibility: visible !important;
}
.TaskModule input[type=date].overDue {
  background-color: #E7748D;
  color: #fff;
}
.TaskModule input[type=date], .TaskModule focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.Overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.LoginModule {
  background-color: #E2E4E6;
  border-radius: 3px;
  min-height: 310px;
  width: 350px;
  z-index: 2000;
  margin: 4% 0;
  padding: 0;
  overflow: hidden;
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
}
.LoginModule .LoginModule_exit {
  width: 100%;
  display: block;
  position: relative;
  height: 35px;
}
.LoginModule .LoginModule_exit .Cancel {
  position: absolute;
  right: 14.7px;
  top: 15px;
  margin: 0;
}
.LoginModule .LoginModule_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #4d4d4d;
  margin: 0 auto 1px auto;
  text-align: center;
}
.LoginModule .LoginModule_description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #959DA1;
  width: 88%;
  margin: 0 auto;
  padding: 0 0 20px 0;
  text-align: center;
}
.LoginModule .LoginModule_logSignSwitch {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #838C91;
  width: 88%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 20px 0;
  text-align: center;
}
.LoginModule .LoginModule_logSignSwitch a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #838C91;
  text-decoration: underline;
  cursor: pointer;
}
.LoginModule .LoginModule_buttons button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.LoginModule .credentials input {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 250px;
  display: block;
}
.LoginModule .welcomeEmail {
  display: block;
  position: relative;
  padding-top: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Create a custom checkbox */
  /* Create the checkmark/indicator (hidden when not checked) */
}
.LoginModule .welcomeEmail input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  top: 0;
  left: 0;
  background-color: #eee;
}
.LoginModule .welcomeEmail .checkmark {
  position: relative;
  top: 6px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  display: inline-block;
  margin-right: 4px;
}
.LoginModule .welcomeEmail .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.LoginModule .welcomeEmail input:checked.checkmark:after {
  display: block;
}
.LoginModule .welcomeEmail .checkmark:after {
  left: 6px;
  top: 3px;
  width: 6px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.LoginModule .welcomeEmail .emails_title {
  display: block;
  padding: 5px 0px 0px 4px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4d4d4d;
  white-space: normal;
  width: 100%;
  margin: auto;
  cursor: pointer;
}
.LoginModule .welcomeEmail:hover input.checkmark {
  background-color: #ccc;
}
.LoginModule .welcomeEmail input:checked.checkmark {
  background-color: #0079BF;
}
.LoginModule :focus {
  outline: 0;
}

.board {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.board .board_item {
  display: block;
  position: relative;
  height: 85px;
  margin: 0 20px 20px 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 2% 10px 2%;
  width: 250px;
  background-color: #026AA7;
}
.board .board_item:hover {
  background-color: #055A8C;
}
.board .board_item:hover .Star {
  right: 13px;
  visibility: visible;
}
.board .board_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.board .board_addBoard {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #4d4d4d;
  margin: 0;
  padding: 7px;
  border: 0;
  outline: 0;
  border-radius: 3px;
  background-color: #FFFFFF;
}
.board .board_options {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 10px auto;
}
.board .board_newItem {
  height: 85px;
  margin: 0 20px 20px 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 2% 10px 2%;
  width: 250px;
  background-color: #CDD2D4;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #4d4d4d;
}
.board .board_newItem:hover {
  background-color: #B6BBBF;
}
.board .board_newItem-active {
  background-color: #CDD2D4 !important;
}
.board .board_newItem-active:hover {
  background-color: #CDD2D4 !important;
}

.Star {
  height: 15px;
  width: 15px;
  position: absolute;
  right: -20px;
  top: 10px;
  padding: 2px;
  visibility: hidden;
}
.Star path {
  stroke-width: 10;
  stroke: #FFFFFF;
  fill: #FFFFFF;
}
.Star:hover path {
  stroke-width: 30;
}

.boardDetail .boardDetail_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  align-self: flex-start;
  width: 224px;
  margin: 0;
  padding: 2px 7px;
  outline: 0;
  border: 0;
  background-color: #0079BF;
  border-radius: 3px;
}
.boardDetail .boardDetail_title:focus {
  background-color: #FFFFFF !important;
  color: #4d4d4d !important;
}
.boardDetail .boardDetail_info {
  width: 97%;
  margin: 2% auto 0 auto;
  height: auto;
  display: flex;
}
.boardDetail .boardDetail_info .options {
  fill: #fff;
  width: 21px;
  height: 21px;
  margin: 5px 8px 0 8px;
  cursor: pointer;
}
.boardDetail .boardDetail_info .dropdown {
  position: relative;
  display: block;
  float: right;
}
.boardDetail .boardDetail_info .invisible-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
}
.boardDetail .boardDetail_info .dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  margin-left: -88px;
}
.boardDetail .boardDetail_info .dropdown-content span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4d4d4d;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.boardDetail .boardDetail_info .dropdown-content span:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.boardDetail .boardDetail_info .dropdown-content span.delete {
  color: #FF220C;
}
.boardDetail .boardDetail_info .show {
  display: block;
}

/*# sourceMappingURL=trello.css.map */
