.background {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	.background_spacer {
		width: 100vw;
		height: $nav-height;
	}
	.background_container {
		margin: 10px auto;
		width: 90%;
		max-width: 1300px;
	}
	.background_title {
		@include openSans($large, $black);
		margin: 10px 0;
	}
}
.background-white {
	background-color: $white;
}
.background-blue {
	background-color: $blue-6;
}

.loading {
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.background-white .loading {
  color: #000;
}
.background-blue .loading {
  color: #fff;
}